# HM Land Registry Data-Q1 2020(April-June)

Contains HM Land Registry data © Crown copyright and database right [year of supply or date of publication]. This data is licensed under the Open Government Licence v3.0.

This dataset shows:

The 500 customers that send the most applications to HM Land Registry.
The number and type of applications received and completed.
How many requests for information are sent to customers.

##### FR – First registration
An application for a first registration of land both freehold and leasehold. For leasehold, this applies when the landlord’s title is not registered.

##### TP – Transfer of part
An application to register the transfer of part of a registered title.

##### DFL – Dispositionary first lease
An application for the registration of a new lease granted by the proprietor of registered land.

##### Register update
An application to update details of an existing title on the register.

##### Requests for information
This is the number of requests for information we send to the customer. 

##### Applications received
This is the number of applications made by the customer. 

##### Applications completed
This is the number of applications completed by HM Land Registry.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('ri.csv')

In [10]:
df.head()

,Customer,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
0,1st Stop Financial,0,0,0,465,465,0,0,0,485,485,0,0,0,28,28
1,A Shade Greener,0,14,0,253,267,0,8,0,248,256,0,4,0,10,14
2,A V Rillo & Co,5,13,5,235,258,2,1,1,147,151,1,1,0,39,41
3,Abbey National PLC,0,0,0,15369,15369,0,0,0,14649,14649,0,0,0,0,0
4,Abensons & Co,5,13,9,198,225,1,1,8,139,149,0,0,6,48,54

In [35]:
df.shape

(500, 16)

In [11]:
df.columns

Index(['Customer', 'FR_Intake', 'TP_Intake', 'DFL_Intake',
       'Register_update_intake', 'Total_intake', 'FR_Output', 'TP_Output',
       'DFL_Output', 'Register_update_output', 'Total_output',
       'FR_requests_for_information', 'TP_requests_for_information',
       'DFL_requests_for_information',
       'Register_update_requests_for_information',
       'Total_requests_for_information'],
      dtype='object')

In [12]:
#FR – First registration
df['FR_requests_for_information'].sum()

337

In [13]:
#TP – Transfer of part
df['TP_requests_for_information'].sum()

2365

In [14]:
#DFL – Dispositionary first lease
df['DFL_requests_for_information'].sum()

2496

### Insight 1:
There were a total of 337 First Registeration information requests, 2365 Transfer deed information requests and 2496 new lease registeration information applications.
We can infer that the customers in England are doing more leasing, renting than buying new property. 
Also, customers are purchasing pre-owned lands rather than buying new ones.

In [23]:
a=df['Total_intake'].sum()
print('Total number of applications received:',a)

Total number of applications received: 559720

In [24]:
b=df['Total_output'].sum()
print('Total number of applications completed:',b)

Total number of applications completed: 432305

In [27]:
e=(b/a)*100
print('Efficiency of HM Landing:',e)

Efficiency of HM Landing: 77.23593939827056

### Insight 2:
The efficiecy of HM Landing in completing the applications and giving the registery is 77.23%

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Customer                                  500 non-null    object
 1   FR_Intake                                 500 non-null    int64
 2   TP_Intake                                 500 non-null    int64
 3   DFL_Intake                                500 non-null    int64
 4   Register_update_intake                    500 non-null    int64
 5   Total_intake                              500 non-null    int64
 6   FR_Output                                 500 non-null    int64
 7   TP_Output                                 500 non-null    int64
 8   DFL_Output                                500 non-null    int64
 9   Register_update_output                    500 non-null    int64
 10  Total_output                              500 non-null    int64
 11  FR_requests_for_information               500 non-null    int64
 12  TP_requests_for_information               500 non-null    int64
 13  DFL_requests_for_information              500 non-null    int64
 14  Register_update_requests_for_information  500 non-null    int64
 15  Total_requests_for_information            500 non-null    int64
dtypes: int64(15), object(1)
memory usage: 62.6+ KB

In [29]:
df.describe()

,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,7.458000,31.372000,31.006000,1049.604000,1119.440000,1.318000,6.802000,7.328000,849.16200,864.610000,0.674000,4.730000,4.992000,53.136000,63.532000
std,10.663943,57.055098,48.400819,3296.511416,3299.552516,2.266086,11.527383,10.424094,2967.42109,2967.313384,1.225859,8.196308,7.788791,141.256108,145.898931
min,0.000000,0.000000,0.000000,8.000000,190.000000,0.000000,0.000000,0.000000,3.00000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,5.000000,5.000000,209.750000,251.750000,0.000000,0.750000,1.000000,139.00000,149.000000,0.000000,0.000000,0.000000,18.750000,24.750000
50%,4.000000,14.000000,17.000000,281.500000,342.000000,1.000000,4.000000,4.000000,193.00000,205.500000,0.000000,2.000000,3.000000,32.000000,40.000000
75%,11.000000,35.000000,36.250000,524.000000,631.500000,2.000000,8.000000,9.000000,395.50000,414.000000,1.000000,5.250000,6.000000,50.000000,61.000000
max,142.000000,746.000000,538.000000,37113.000000,37113.000000,26.000000,110.000000,98.000000,35099.00000,35099.000000,12.000000,76.000000,79.000000,2221.000000,2281.000000

In [30]:
df.apply(np.sum)

Customer                                    1st Stop FinancialA Shade GreenerA V Rillo & C...
FR_Intake                                                                                3729
TP_Intake                                                                               15686
DFL_Intake                                                                              15503
Register_update_intake                                                                 524802
Total_intake                                                                           559720
FR_Output                                                                                 659
TP_Output                                                                                3401
DFL_Output                                                                               3664
Register_update_output                                                                 424581
Total_output                                                                           432305
FR_requests_for_information                                                               337
TP_requests_for_information                                                              2365
DFL_requests_for_information                                                             2496
Register_update_requests_for_information                                                26568
Total_requests_for_information                                                          31766
dtype: object

In [31]:
a=df['FR_Intake'].sum()
b=df['FR_Output'].sum()
print(b/a*100)

17.672298203271655

In [32]:
a=df['TP_Intake'].sum()
b=df['TP_Output'].sum()
print(b/a*100)

21.681754430702536

In [33]:
a=df['DFL_Intake'].sum()
b=df['DFL_Output'].sum()
print(b/a*100)

23.63413532864607

### Insight 3:
We can see the First Registeration intake applications is 3729 and FR output is 659. The efficiency is only 17.67%
Similarily for Transfer Parts and DFL(New Lease registerations) is also 21.6% and 23.63%.
Few are the possible reasons:
1. Some customers register for the process but backout of the process.
2. HM Land Registery not focussing on the customer requests.

In [34]:
a=df['Register_update_intake'].sum()
b=df['Register_update_output'].sum()
print(b/a*100)

80.90308344861491

### Insight 4:
The number of application to update the registry for the customer's details are 524802, out of which 424581 are completed, leading to the efficiency of 80.9%

In [37]:
df['Customer'].value_counts()

Foys Solicitors                  1
Home Property Lawyers Limited    1
Shawbrook Bank Limited           1
The Mortgage Works (uk) PLC      1
Porter Dodson LLP                1
                                ..
Optima Legal Serivices           1
Lambert Pugh                     1
Harrison Drury                   1
Irwin Mitchell                   1
Nantes                           1
Name: Customer, Length: 500, dtype: int64

In [38]:
df.apply(np.max)

Customer                                    Your Conveyancer Limited
FR_Intake                                                        142
TP_Intake                                                        746
DFL_Intake                                                       538
Register_update_intake                                         37113
Total_intake                                                   37113
FR_Output                                                         26
TP_Output                                                        110
DFL_Output                                                        98
Register_update_output                                         35099
Total_output                                                   35099
FR_requests_for_information                                       12
TP_requests_for_information                                       76
DFL_requests_for_information                                      79
Register_update_requests_for_information                        2221
Total_requests_for_information                                  2281
dtype: object

In [39]:
df.loc[df['FR_Intake']==142]

,Customer,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
163,Eversheds Sutherland,142,196,257,6604,7199,26,44,36,4284,4390,11,34,13,289,347

In [41]:
df.loc[df['TP_Intake']==746]

,Customer,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
138,Direction Home (law) LLP,4,746,136,482,1368,3,110,29,302,444,0,59,17,74,150

In [42]:
df.loc[df['DFL_Intake']==538]

,Customer,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
475,Watson Ramsbottom,12,92,538,486,1128,3,14,43,185,245,2,11,34,43,90

In [43]:
df.loc[df['Register_update_intake']==37113]

,Customer,FR_Intake,TP_Intake,DFL_Intake,Register_update_intake,Total_intake,FR_Output,TP_Output,DFL_Output,Register_update_output,Total_output,FR_requests_for_information,TP_requests_for_information,DFL_requests_for_information,Register_update_requests_for_information,Total_requests_for_information
220,HBOS PLC Bank,0,0,0,37113,37113,0,0,0,35099,35099,0,0,0,0,0

### Insight 5:
Eversheds Sutherland has made highest applications in FR(142), completed(26). 
Completion Rate:18%

Direction Home (law) LLP has made highest applications in TP(746),completed(110),
Completion Rate:14%

Watson Ramsbottom has made highest application in DFL(538) out of which only 43 are being completed which is a poor completion rate. 
Completion Rate: 7%

HBOS PLC Bank has made highest applications in Register Updation(37113), completed(35099).
Completion rate: 94.5%